body {
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.typewriter {
    margin-right: 750px;
    position: relative;
    font-size: 30px;
    text-align: left;
    color: white;
    width: 650px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 30%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.container {
    margin-left: 750px;
    position: fixed;
    color: #000000;
    background-color: white;
    padding: 20px;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 0 0.8px 8px rgb(255, 255, 255);
    width: 400px; 
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

h1 {
    margin-bottom: 20px;
    margin-left: 140px;
}

label {
    display: block;
    margin-bottom: 7px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    margin-top: 20px;
    width: 90%;
    padding: 10px;
    background-color: #2fbb50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-left: 80px;
    margin-top: 20px;
}

@media (max-width: 1300px)
 {
    body {
        
        flex-direction: column;
        align-items: center;
    }

    .container {
        margin-top: 0;
        margin-left: 0;
        width: 90%;
        position: relative;
        box-shadow: 0 0.8px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        align-items: center;
        align-content: center;
    }

    .typewriter {
       height: 0px;
        width: 0px;

    }
    #message
    {
        text-align: center;
    }
    h1{
        text-align: center;
        align-items: center;
        align-content: center;
        margin-left: 0px;

    }
}
